################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FSL.CsharpUsefullExtensionsMethods/v14
/packages/Newtonsoft.Json.9.0.1
/FSL.CsharpUsefullExtensionsMethods/bin/Debug
/FSL.CsharpUsefullExtensionsMethods/obj/Debug
/FSL.CsharpUsefullExtensionsMethods/.vs/FSL.CsharpUsefullExtensionsMethods/v14
/.vs/FSL.CsharpUsefulExtensionsMethods/v14
/.vs
/FSL.CsharpUsefullExtensionsMethods/.vs/FSL.CsharpUsefullExtensionsMethods/v15
/FSL.CsharpUsefullExtensionsMethods/bin/Release
/FSL.CsharpUsefullExtensionsMethods/obj/Release
/packages/Newtonsoft.Json.12.0.1
